coverage/*
dist/*
node_modules/*
playground/*
benchmark/*

src/util/xml-escape.mjs
src/util/variable-util.mjs
src/util/uid.mjs
src/util/timer.mjs
src/util/string-util.mjs
src/util/math-util.mjs
src/util/get-monitor-id.mjs
src/util/color.mjs
src/util/cast.mjs
src/sprites/sprite.mjs
src/sprites/rendered-target.mjs
src/serialization/sb3.mjs
src/serialization/sb2.mjs
src/serialization/deserialize-assets.mjs
src/import/load-sound.mjs
src/import/load-costume.mjs
src/engine/variable.mjs
src/engine/target.mjs
src/engine/mutation-adapter.mjs
src/engine/execute.mjs
src/engine/comment.mjs
src/engine/blocks.mjs
src/engine/blocks-runtime-cache.mjs
src/engine/blocks-execute-cache.mjs
src/engine/adapter.mjs
src/io/**/*.mjs