# Mac OS
.DS_Store

# NPM
/node_modules
npm-*

# Testing
/.nyc_output
/coverage

# IDEA
/.idea

# Build
/dist
/playground/assets
/playground/media
/playground/scratch-vm.js
/playground/scratch-vm.js.map
/playground/vendor.js
/playground/vendor.js.map
/playground/zenburn.css
