# Mac OS
.DS_Store

# NPM
/node_modules
npm-*

# Testing
/.nyc_output
/coverage
/dist.js
/vm.js
/vm.min.js
/playground/assets
/playground/media
/playground/vendor.js
/playground/vm.js
/playground/zenburn.css
