body {
    background: rgb(36,36,36);
}
a {
    color: rgb(217,217,217);
}
#blocks {
    position: absolute;
    left: 40%;
    right: 0;
    top: 0;
    bottom: 0;
}
#vm-devtools {
    color: rgb(217,217,217);
    position: absolute;
    left: 1%;
    right: 60%;
    top: 0;
    bottom: 0;
    width: 35%;
}
#blockexplorer, #threadexplorer, #importexport {
    position: absolute;
    width: 100%;
    height: 75%;
    overflow: scroll;
    border: 1px solid #fff;
    background: rgb(36,36,36);
    color: rgb(217,217,217);
    font-family: monospace;
    font-size: 10pt;
}

#tab-blockexplorer, #tab-threadexplorer, #tab-importexport {
    display: none;
}

#importExport {
    width: 400px;
    height: 360px;
    background: rgb(36,36,36);
    color: rgb(217,217,217);
    font-family: monospace;
    font-size: 10pt;
}
