body {
    background: rgb(36,36,36);
}
#blocks {
    position: absolute;
    left: 40%;
    right: 0;
    top: 0;
    bottom: 0;
}
#vm-devtools {
    color: rgb(217,217,217);
    position: absolute;
    left: 1%;
    right: 60%;
    top: 0;
    bottom: 0;
    width: 35%;
}
#blockexplorer {
    position: absolute;
    width: 100%;
    height: 90%;
    border: 1px solid #fff;
    background: rgb(36,36,36);
    color: rgb(217,217,217);
    font-family: monospace;
    font-size: 10pt;
}
